<div class="relative w-100 mb4 bg-white nested-copy-line-height">
    <div class="bg-white mb3 pa4 gray overflow-hidden">
      {{/*{{with .CurrentSection.Title }}<span class="f6 db">{{ . }}</span>{{end}}*/}}
      <span class="f6 db">
        <a href="{{ .RelPermalink }}" class="link black dim">{{- .Date | time.Format ":date_short"  -}}</a>
      </span>
      <h1 class="f3 near-black">
        <a href="{{ .RelPermalink }}" class="link black dim">
          {{ .Title }}
        </a>
      </h1>
      <a href="{{.RelPermalink}}" class="color-inherit dim link">
        <div class="nested-links f5 lh-copy nested-copy-line-height">
            {{ .Summary }}
        </div>
      </a>
    </div>
  </div>
  